html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
  background: black;
}
.hero.is-success {
  background: #252627;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box{
  background: rgb(44, 41, 41);
  color: aliceblue;
}

input {
  font-weight: 300;
}
p {
  font-weight: 700;
}